# Default don't include
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
ispmail_admin-*.tar
npm-debug.log
/assets/node_modules/

# Ignore static files (everything will come from /assets/)
/priv/static/

# Ignore Dialyzer plts
/priv/plts/

# Ignore ElixirLS for VSCode
/.elixir_ls/