<main class="">
  <%= if @current_user do %>
    Hello, <%= @current_user.email %>
  <% else %>
    <div class="border">
      <h1>Welcome to Elixir ISP e-mail web-admin</h1>
      <%= link "Register", to: Routes.registration_path(@conn, :new), class: "mr-3 bg-gray-700 px-4 py-2 text-blue-400 rounded hover:underline" %>
      <%= link "Log in", to: Routes.session_path(@conn, :new), class: "mr-3 bg-gray-700 px-4 py-2 text-green-400 rounded hover:underline" %>
    </div>
  <% end %>
</main>
