/* 
  Custom CSS to amplify user experience.
*/

/* Custom checkbox START */
input[type="checkbox"].styled {
  position: relative;
  outline: 0;
  margin: 0 0.5rem;
  appearance: none;
  cursor: pointer;
}
/* "Track" */
input[type="checkbox"].styled::before {
  content: " ";
  display: block;
  width: 2.5rem;
  height: 1rem;
  border-radius: 10px;
  background-color: #cbd5e0;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
/* "Button" */
input[type="checkbox"].styled::after {
  content: " ";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 9999px;
  position: absolute;
  left: 0px;
  top: -0.25rem;
  left: -0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
}
input[type="checkbox"].styled:checked::after {
  transform: translateX(100%);
  background-color: #48bb78;
}

/* Fancy buttons */
.fancy-blue-button {
  transition: 0.5s ease;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe);
  /* box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75); */
}
.fancy-green-button {
  transition: 0.5s ease;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a);
  /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
}

.fancy-green-button:active,
.fancy-green-button:hover,
.fancy-blue-button:active,
.fancy-blue-button:hover {
  background-position: right center;
  text-decoration: none;
}

/* Dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}
